.wrapper {
    margin-top: 60px;
    height: calc(100vh - 60px);
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


/* HEADER  */
header {
    height: 60px;
    
}
.w-10 {
    width: 5%;
}
.w-90 {
    width: 85%;
}

.search-bar {
    background-color: #E5E5E5;
}

.cs-nav-colors {
    color: rgb(83, 83, 83);
    
}

.cs-bell {
    color: rgb(228, 178, 14);
}

.mobile img {
    width: 30px;
}

.cs-bell:hover {
    color: gold;
}
/* SIDEBAR  */
#sidebar {
    height: 100%;
    width: 110px;
    flex-shrink: 0;
    background-color: #051E34;
    background-image: url("../img/sidebar-bg.png");
} 

.side-bar {
    height: 100%;
}


.my-ps-2 {
    padding-left: 12px;
}

.side-bar li:hover {
    background-color: rgba(255, 255, 255, .4);
    
}

/* MAIN  */
main {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
}


table img {
    width: 30px;
}

.my-badge {
    background-color: #165bba;
    padding: 0 .5rem;
    border-radius: 3rem;
    font-size: .8rem;
}

.my-card {
    border-bottom: 1px solid #dee2e6;
    padding: .5rem 0;
    
}

.my-card:first-child {
    border-top: 1px solid #dee2e6 ;
}

.my-card a {
    text-decoration: underline;

}

.card {
    margin: 2rem 0;
}

.small-fs {
    font-size: .8rem;
}

@media screen and (max-width: 992px) {
    #sidebar {
        width: 40px;
    }
}